<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img ng-src="images/erik.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
              <span class="black-text">
                <h2>ERIK WYKA	</h2>
              <h5> Bright, enthusiastic and ambitious individual. Self-motivated with good communication skills and ability to work on own
                initiative and in a team. <br>Has a logical approach to problem solving. Keen interest in web design and development,  computer and mobile programming.
                <br> Creative, open minded, with an attention to the detail. Punctual and well organized.</h5>
              </span>
      </div>
    </div>
  </div>
</div>
