<div class="card-panel">
    <div class="slider " slider>
        <ul class="slides" indicators>
            <li ng-repeat="slide in slides" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <!-- random image -->
                <div class={{slide.cl}}>
                    <h3>{{slide.text}}</h3>
                </div>
            </li>

        </ul>
    </div>
</div>
<div class="card-panel">
    <h2>Welcome to My Portfolio Web App</h2>
    <p>This Demo Single Page App includes various type of web development technologies:</p>
    <p><span>M</span>ongoDB  <span>E</span>xpress <span>A</span>ngularjs <span>N</span>odejs    </p>
   <p></p>
</div>
